<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.actel.softconsole.embeddedcdt.cortexm3.idleNative">
<booleanAttribute key="com.actel.softconsole.embeddedcdt.cortexm3.debugger_app_console" value="false"/>
<stringAttribute key="com.actel.softconsole.embeddedcdt.cortexm3.debugger_init_commands" value="# GDB script containing default debug init commands&#10;source ${eclipse_home}/../Sourcery-G++/share/gdbinit/microsemi-cortex-m3-target-gdbinit&#10;&#10;# Invoke debug sprite in Cortex-M3 mode (add -v at end of line for verbose logging/diagnostic output)&#10;target remote | &quot;${eclipse_home}/../Sourcery-G++/bin/arm-none-eabi-sprite&quot; flashpro:?cpu=Cortex-M3 &quot;${build_loc}&quot;&#10;&#10;# Load the program (pre and post load hooks in gdbinit will be run)&#10;load&#10;"/>
<stringAttribute key="com.actel.softconsole.embeddedcdt.cortexm3.debugger_run_commands" value="cont&#10;"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.actel.softconsole.embeddedcdt.cortexm3.EmbeddedCDebugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_REGISTER_GROUPS" value=""/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.ENABLE_REGISTER_BOOKKEEPING" value="false"/>
<booleanAttribute key="org.eclipse.cdt.launch.ENABLE_VARIABLE_BOOKKEEPING" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.FORMAT" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&lt;contentList/&gt;"/>
<stringAttribute key="org.eclipse.cdt.launch.GLOBAL_VARIABLES" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;globalVariableList/&gt;&#13;&#10;"/>
<stringAttribute key="org.eclipse.cdt.launch.MEMORY_BLOCKS" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;memoryBlockExpressionList/&gt;&#13;&#10;"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="Debug\NeuroMini_MSS_CM3_app"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="NeuroMini_MSS_CM3_app"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value="cdt.managedbuild.config.gnu.cross.cortexm3.exe.debug.437611960"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/NeuroMini_MSS_CM3_app"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
</launchConfiguration>
